/* BetterTheme */

@import url(https://raw.githack.com/schnensch0/zelk/main/main.css);
@import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap);

/* Ring status */
:root {
    --rs-small-spacing: 1px;
    /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px;
    /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px;
    /* Gap between avatar and status for User profiles | MUST end in px */
    --rs-small-width: 2px;
    /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px;
    /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px;
    /* Thickness of status border for User profile | MUST end in px */
    --rs-avatar-shape: 50%;
    /* 50% for round - 0% for square */

    --rs-online-color: #43b581;
    /* Colour for online status */
    --rs-idle-color: #faa61a;
    /* Colour for idle status */
    --rs-dnd-color: #f04747;
    /* Colour for dnd status */
    --rs-offline-color: #636b75;
    /* Colour for offline status */
    --rs-streaming-color: #b4329f;
    /* Colour for streaming status */
    --rs-invisible-color: #747f8d;
    /* Colour for invisible status - Note: this will only show for your own invisibility */

    --rs-phone-color: var(--rs-online-color);
    /* Colour of the ring and phone icon when a user is on their phone */
    --rs-phone-visible: block;
    /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    
    /* Update message */
    --update-theme: none !important;
	
    /* Font */
    --font-display: 'JetBrains Mono', monospace;
}

/* Collapse members list */
.membersWrap-3NUR2t {
  transition: all 0.4s ease-in-out;
  justify-content: unset;
  min-width: unset;
  width: 50px;
}
.membersGroup-2eiWxl {
  height: 0px;
  transition: all 0.4s ease-in-out;
}
.membersWrap-3NUR2t:hover .membersGroup-2eiWxl {
  height: 40px;
}
.membersWrap-3NUR2t:hover {
  width: 230px;
}
.membersGroup-2eiWxl {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

/* Mac Titlebar */
.withFrame-haYltI .winButton-iRh8-Z>svg {
	display: none;
}
.typeWindows-1za-n7>div:hover::after {
	transform: scale(1.1);
}
.withFrame-haYltI .winButton-iRh8-Z:hover {
	background-color: var(--background-teritary);
}
.withFrame-haYltI .winButton-iRh8-Z {
	pointer-events: none;
	margin-left: -4px;
	top: 0;
}
.withFrame-haYltI .winButton-iRh8-Z::after {
	content: "";
	padding: 7px;
	border-radius: 100px;
	pointer-events: fill;
	transition-duration: 200ms;
}
.withFrame-haYltI .winButtonClose-1HsbF-::after {
	background-color: #e92a2ade !important;
	margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
	background-color: #f7bc1bde !important;
	margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
	background-color: #12db33de !important;
	margin-top: 0px;
}

/* Update message */
body:not(.powercord) .panels-j1Uci_::before {
  content: "Please update to BetterDiscord v1.0";
  font-weight: 50;
  color: var(--text-normal);
  text-align: center;
  width: 100%;
  height: 10px;
  display: var(--update-theme);
  background-color: var(--background-primary);
  padding: 10px 0 30px;
  border-top: 1px solid var(--border-color);
}
body:not(.powercord) .panels-j1Uci_::after {
  content: "github.com/MaybeAnkur/BetterTheme";
  white-space: pre;
  font-size: 12px;
  color: var(--accent-color);
  text-align: center;
  position: relative;
  top: -74px;
  width: 100%;
  height: 0;
  display: var(--update-theme);
}

/* Hide help*/
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Help"]{
display: none;
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Inbox"]{
  border-radius: 0 var(--border-radius-1) var(--border-radius-1) 0;
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Threads"]{
background: transparent;
}

/* Hiding discord logo */
.wordmark-2iDDfm svg {
  display: none;
}

/* Fixing message box borders */
.scroller-2LSbBU
{
  margin-bottom: 15px;
}

.scrollableContainer-2NUZem
{
  background-color: var(--background-accent);
}
